:root {
    /* The skrub logo blue */
    --blue: #3499CD;
    --lightblue: #c7eafc;
    --lightblue-1: #B0DDF4;
    --lightblue-2: #9ACAE3;
    --darkblue: #267FAC;
    /* The skrub logo orange */
    --darkorange: #E27508;
    --orange: #F89939;
    --lightorange: #FCD4AC;
    --gray-0: #f3f3f3;
    --gray-1: #ececec;
    --gray-2: #dbdbdb;
    --gray-3: #999999;
    --gray-4: #555555;
    --red: #ff5555;
    --lightred: #ffbbbb;
    --green: #65CC65;
    --lightgreen: #C4F5C4;
    --frame-color: var(--blue);
    --frame-color-light: var(--lightblue);
    --spinner-color: var(--blue);

    --space-xs: 0.25rem;
    --space-s: 0.5rem;
    --space-m: 1rem;
    --space-l: 1.2rem;
    --space-xl: 1.5rem;
    --space-xxl: 2rem;

    --type-m: 1rem;
    --type-l: 1.2rem;
    --type-xl: 1.5rem;
    --type-xxl: 2rem;

    --border: 1px;
    --border-l: 2px;
    --border-xl: 4px;

    --border-radius: 5px;

    --text-wide: 80ch;
    --text-narrow: 60ch;

    --fontStack-monospace: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, "DejaVu Sans Mono", Liberation Mono, monospace;
    --fontStack-sansSerif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

body {
    line-height: 1.4;
    font-family: var(--fontStack-sansSerif);
}

pre, code {
    font-family: var(--fontStack-monospace);
}

main {
    padding-left: var(--space-l);
    padding-right: var(--space-l);
    padding-bottom: var(--space-xxl);
}

h1 {
    font-size: var(--type-xl);
    margin-bottom: var(--space-xxl);
}

h2 {
    font-size: var(--type-m);
}

button {
    cursor: pointer;
}

pre {
    margin: 0;
    min-width: min-content;
}

fieldset {
    border: none;
}

select {
    min-width: 5ch;
}

details>summary {
    cursor: pointer;
}

/* Utilities */

.color-links a {
    text-decoration-thickness: var(--border-l);
    text-underline-offset: var(--underline-offset, 0.2em);
}
.color-links :link {
    color: var(--darkblue);
}

.color-links a:hover {
    text-decoration-color: var(--orange);
}

.flow>*+* {
    margin-top: var(--space-m);
}

.margin-bottom {
    margin-bottom: var(--space-m);
}

.blue-bg {
    --bg-color: var(--lightblue);
    --bg-color-hover: var(--lightblue-1);
    --bg-color-active: var(--lightblue-2);
    background: var(--bg-color);
}


.orange-bg {
    --bg-color: var(--lightorange);
    background: var(--bg-color);
}

.gray-bg {
    --bg-color: var(--gray-0);
    background: var(--bg-color);
    border-radius: var(--border-radius);
}

.horizontal-scroll {
    overflow-x: auto;
}

.scroll {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 15rem;
}

.scroll * {
    overflow-x: visible;
    overflow-y: visible;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--space-m);
}

.wrapper {
    max-width: var(--text-wide);
}

.narrow-wrapper {
    max-width: var(--text-narrow);
}

.padding {
    padding: var(--space-m);
}

/* Show a button instead of the default file input */

input[type="file"] {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

label:has(:focus-visible),
:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 var(--border-l) var(--blue);
}

.button {
    border-radius: var(--border-radius);
    background: var(--bg-color, var(--gray-0));
    display: inline-block;
    color: var(--fg-color, black);
    border: var(--border-l) solid var(--fg-color, black);
    padding: var(--space-s);
    margin: var(--space-xs);
    cursor: pointer;
}

@media(hover: hover) {
    .button:hover:not([data-disabled]) {
        background: var(--bg-color-hover, var(--gray-1));
    }

    .button:active:not([data-disabled]) {
        background: var(--bg-color-active, var(--gray-2));
    }
}

.button[data-disabled] {
    color: var(--gray-3);
    background: white;
    cursor: not-allowed;
    border: var(--border-l) solid var(--gray-3);
}

/* File selector */

.file-select {
    margin-top: var(--space-xxl);
    margin-bottom: var(--space-xxl);
}

/* Status messages */

.status-display {
    display: flex;
    align-items: center;
    gap: var(--space-l);
}

.loader {
    flex-grow: 0;
    flex-shrink: 0;
    display: inline-block;
    border: var(--space-s) solid var(--gray-0);
    border-top: var(--space-s) solid var(--spinner-color);
    border-radius: 50%;
    width: var(--type-l);
    height: var(--type-l);
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Highlighted blocks */

.highlighted-block {
    border: var(--border-l) solid var(--frame-color-light);
    border-left: none;
    box-shadow: calc(-1 * var(--border-xl)) 0 0 0 var(--frame-color);
    border-radius: var(--border-radius);
    overflow: hidden;
    max-width: var(--text-wide);
}

.highlighted-block> :first-child {
    background: var(--frame-color-light);
}

.highlighted-block> :first-child:focus-visible {
    border: var(--border-l) solid var(--blue);
    box-shadow: none;
}

.highlighted-block>* {
    padding-left: var(--space-m);
    padding-right: var(--space-m);
    padding-top: var(--space-s);
    padding-bottom: var(--space-s);
    margin: 0;
}

.align-with-highlighted-block {
    padding-left: var(--space-m);
}

.error {
    background: var(--lightred);
    padding: var(--space-s);
}


.warning-block {
    --frame-color: var(--orange);
    --frame-color-light: var(--lightorange);
}

.error-block {
    --frame-color: var(--red);
    --frame-color-light: var(--lightred);
}

.tip-block {
    --frame-color: var(--green);
    --frame-color-light: var(--lightgreen);
}


/* Hiding irrelevant sections */

[data-hidden] {
    display: none;
    /* opacity: 0.5; */
}

/* Copy-paste button */

.copy-paste {
    position: relative;
}

.copy-paste>.copybutton {
    display: none;
    position: absolute;
    top: var(--space-s);
    right: var(--space-s);
    width: var(--type-xxl);
    height: var(--type-xxl);
}

.copy-paste>.copybutton[data-just-copied],
.copy-paste:hover>.copybutton {
    display: inline-block;
}

.copy-paste> :first-child {
    min-height: 3rem;
}

/* Tabs */

.tabs {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs);
    row-gap: 0;
}

.tabs>input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.tabs>input:focus-visible+label {
    box-shadow: 0 0 0 var(--border-l) var(--blue);
}

.tabs>label {
    border: var(--border) solid transparent;
    padding-left: var(--space-m);
    padding-right: var(--space-m);
    padding-top: var(--space-xs);
    background: var(--gray-0);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    cursor: pointer;
    position: relative;
    margin-bottom: -10px;
    padding-bottom: calc(10px + var(--space-xs));
    z-index: 1;
}

.tabs>label:nth-child(2) {
    margin-left: var(--space-s);
}

.tabs>label:hover {
    background: var(--gray-2);
}

.tabs>input:checked+label {
    border-color: var(--gray-4);
    background: white;
    z-index: 3;
}

.tab-list-border {
    min-width: 100%;
    box-sizing: content-box;
    height: 0;
    border: none;
    border-bottom: var(--border) solid var(--gray-4);
    position: relative;
    z-index: 2;
}

.tabs>input+label+.tab-panel {
    display: none;
}

.tabs>input:checked+label+.tab-panel {
    display: block;
}

.tab-panel {
    padding: var(--space-s);
    order: 100;
    box-sizing: border-box;
    min-width: 100%;
    position: relative;
    z-index: 4;
    background: white;
}

/* Misc */

.pure-table th,
.pure-table td {
    max-width: 30ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#report .error-block {
    margin-top: var(--space-m);
}

/* Title */

h1.banner {
    font-family: var(--fontStack-monospace);
    margin-bottom: 4rem;
    margin-top: var(--space-xxl);
}

h1.banner>* {
    display: inline-block;
}

h1.banner>span {
    margin-top: var(--space-l);
}

h1.banner .table-report {
    color: var(--blue);
    font-size: max(1.7rem, min(4.5rem, 12vw));
    transform: rotate(-5deg);
    font-weight: bold;
    margin-top: var(--space-l);
    text-decoration: none;
}

h1.banner .from {
    transform: rotate(-20deg);
    display: inline-block;
}

h1.banner .skrub {
    height: 6rem;
    transform: translateY(1rem);
}

h1.banner .import {
    transform: rotate(10deg);
}

/* Example reports */

.small-banner {
    margin-top: var(--space-m);
    margin-bottom: var(--space-m);
    font-size: var(--type-xl);
}

.small-banner .skrub {
    height: 4rem;
}

.small-banner a {
    --underline-offset: 0.4em;
    text-underline-offset: var(--underline-offset);
}

.small-banner :visited {
    color: var(--darkblue);
}

/* Nav */

nav {
    padding-left: var(--space-l);
    padding-right: var(--space-l);
}

nav > ul {
    display: flex;
    list-style-type: none;
    gap: var(--space-m);
    padding: 0;
}

nav a {
    display: inline-block;
    box-sizing: border-box;
    border-bottom: var(--border-xl) solid transparent;
    padding-left: var(--space-s);
    padding-right: var(--space-s);
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
    color: black;
    text-decoration: none;
}

nav .current-page {
    border-bottom: var(--border-xl) solid var(--blue);
}

nav a:hover {
    border-bottom: var(--border-xl) solid var(--orange);
}

/* List of datasets */

.example-dataset-list > li {
    font-size: var(--type-l);
    margin-bottom: var(--space-m);
}

.example-dataset-list li::marker {
    color: var(--orange);
}

.examples-index {
    padding-left: var(--space-xl);
    padding-right: var(--space-xl);
    margin-top: var(--space-xxl);
}

/* Misc */

.report-placeholder {
    width: 100%;
    height: 10rem;
    outline: var(--border-l) dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
